{% extends 'base.html' %}
{% block content %}

    <div class="jumbotron">
        <h1 class="display-3">Import books from google API into database</h1>
        <p class="lead">Please enter keywords for books that you want to import from google API.
            Next press 'Import books' and save data into database </p>
        <hr class="my-4">

        <form action="{% url 'import_books' %}" method="POST">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-primary">Import books</button>
        </form>

    </div>

{% endblock %}